<h1>Playing</h1>
<br>
<h5>Which one was made by "{{ main.selected.artist }}" ?</h5>
<br>


<div ng-if="main.position">

    <img ng-click="main.win()" ng-src="{{ main.selected.imageUrl }}" ng-class="main.class">
    <img ng-click="main.lose()" ng-src="{{ main.other.imageUrl }}" ng-class="main.class" >

</div>

<div ng-if="!main.position">

    <img ng-click="main.lose()" ng-src="{{ main.other.imageUrl }}" ng-class="main.class">
    <img ng-click="main.win()" ng-src="{{ main.selected.imageUrl }}" ng-class="main.class">

</div>


<p>{{ main.score }} points</p>


