
<div ng-show="main.levelToggle">
  <h1 class="font">Pick the right image ?</h1>
  <h2>{{ main.time }}</h2>
  <br>
  <h5>Which one was made by "{{ main.winner.artist }}" ?</h5>
  <br>
  <!-- <a href="https://www.brooklynmuseum.org/opencollection/collections/{{ main.selectedCollection }}" target="_blank"><p>Learn more about this collection </p></a> -->
  <div ng-hide="main.gameEnd">
    <img ng-click="main.checkImage(main.a)" ng-src="{{ main.a.imageUrl }}" ng-class="main.a.class">
    <img ng-click="main.checkImage(main.b)" ng-src="{{ main.b.imageUrl }}" ng-class="main.b.class">
    <br>
    <p>{{ main.score }} points</p>
  </div>
</div>

<div ng-show="main.gameEnd">
  <h1>YOU FINISHED </h1>
  <button ui-sref="game">Play again ?</button>
  <a href="https://www.brooklynmuseum.org/opencollection/collections/{{ main.selectedCollection }}" target="_blank"><p>Learn more about this collection </p></a>
</div>

<!-- Other level -->
<div ng-hide="main.levelToggle">
  <h1 class="font">Who is the Artist ?</h1>
  <div ng-hide="main.gameEnd">
    <img ng-src="{{ main.winner.imageUrl }}" ng-class="main.win.class">
    <ul>
      <button ng-click="main.checkArtist(artist)" ng-repeat="artist in main.shuffledArtists track by $index" ng-class="main.artist.class">
        {{ artist }}
      </button>
    </ul>
    <p>{{ main.score }} points</p>
  </div>
</div>